.search-select-box {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}
.placeholder-text {
  color: gray;
}
.select-btn {
  background-color: #ddd;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 220px;
  cursor: pointer;
  color: #101010;
}

.search-box {
  width: 220px;
  border: none;
}
/* .search-box:focus-visible {
  outline: none;
} */

.selected-value {
  font-size: 14px;
}
.select-options-list {
  list-style: none;
  text-align: left;
  padding-left: 0;
  margin: 0;
}

.select-options {
  padding: 10px;
  cursor: pointer;
}
.select-options span {
  padding-left: 10px;
}
.select-options:hover {
  background-color: #ddd;
}
.select-box-content {
  display: none;
  min-width: 220px;
  border: 1px solid #ddd;
  border-radius: 2px;
  z-index: 1;
}

.select-input {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 220px;
  background-color: #fff;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.focused {
  outline: 1px solid #0033cc;
}
